@font-face {
    font-family: "Antipasto";
    src:url('../css/Font/Antipasto.ttf.woff') format('woff'),
        url('../css/Font/Antipasto.ttf.svg#Antipasto') format('svg'),
        url('../css/Font/Antipasto.ttf.eot'),
        url('../css/Font/Antipasto.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}
