$contentColor: #f9f9f9;
$frame1PicProportion: 658/478; //Approximately == 1.37656904;
$frame2PicProportion: 418/493; //Approximately == 0.84787018
$frame3PicProportion: 461/550; //Approximately == 0.83818182;
$frame4PicProportion: 600/441; //Approximately == 1.36054422;
$frame5PicProportion: 396/550; //Approximately == 0.72;
$frame6PicProportion: 643/964; //Approximately == 0.66701245;
$frame7PicProportion: 600/449; //Approximately == 1.33630290;
$frameBigPicHeight: 350px;
$frameSmallPicHeight: 400px;
$frame1PicWidth: 350*$frame1PicProportion+px; 