$contentColor: #f9f9f9;
$frame1PicProportion: 658/478; //Approximately == 1.37656904;
$frame4PicProportion: 600/441; //Approximately == 1.36054422;
$frame7PicProportion: 600/449; //Approximately == 1.33630290;
$frameBigPicHeight: 350px;
$frame1PicWidth: 350*$frame1PicProportion+px; 